@{
    var userImage = @Context.Session.GetString("UserImage");
    var imageUrl = !string.IsNullOrEmpty(userImage) ? userImage : "~/userImage.png";
}
<nav class="navbar sticky-top my-navbar bg-light">
    <div class="container-fluid py-2 px-4">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div>
            <i class="fa-solid fa-bell"></i>
            <i class="fa-solid fa-comment-dots"></i>
            <img src="@Url.Content(imageUrl)" alt="Profile Image" class="profile-pic" />
        </div>
    </div>
</nav>

