<nav class="navbar sticky-top my-navbar bg-light">
    <div class="container-fluid py-2 px-4">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div>
            <i class="fa-solid fa-bell"></i>
            <i class="fa-solid fa-comment-dots"></i>
            <img class="profile-pic" src="~/userImage.png" />
        </div>
    </div>
</nav>