@{
    Html.EJS().Sidebar("default-sidebar").CloseOnDocumentClick(false).ContentTemplate(
    @<div class="sidebar-custom">
        <div class="title-header">
            <div style="display:inline-block"> Sidebar </div>
        </div>
    </div>).Render();
}
