html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Inter"
}

*{
    font-family: "Inter"
}

body {
    margin-bottom: 60px;
    overflow: hidden;
}

.e-bigger {
    font-size: x-large;
}

/*BreadCrumb*/
.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

/*Hyperlink*/
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

/*Buttons*/
.e-btn {
    font-size: 16px;
    font-weight: bold;
  

}

    .e-btn:hover {
        background-color: #d2ccde;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      
    }

    .e-btn:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    }

    .e-btn:active {
        background-color: #003d80;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transform: translateY(0);
    }

    .e-btn-group.custom-button-group {
        width: 100%;
    }

    .e-btn-group.custom-button-group .e-btn {
        width: 50%;
        background-color: #f1eef6;
        border: none;
        border-radius: 6px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
    }

    .e-btn-group.custom-button-group input:checked + label.e-btn {
        transform: scale(1.1);
        border: 1px solid #fff;
        z-index: 1;
        color: dimgrey;
        background-color: #bdaaed;
      
    }
 
/* Widget */

.widget {
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 600px; 
    margin: 0 auto; 
}

    .widget form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .control-section {
        width: 100%;
        margin-bottom: 20px;
    }

/* Grid Custom Styles */

.e-grid {
    border-radius: 5px;
    font-size: 15px;
}
    .e-grid .e-headercell, .e-grid .e-rowcell  {
    background-color: #f8f9fa;
    color: #212529;
    padding: 10px;
}
    .e-grid .e-rowcell {
        border-bottom: 1px solid #dee2e6;
        font-size: 1rem;
        color: #495057;
    }
    .e-grid .e-gridpager .e-pager {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    }
    .e-grid .e-gridheader .e-headercell {
        background-color: #c2d6dc;
        color: #0e0d0d;
    }

/*DatePicker*/

.e-float-text{
  color: black !important;
}
.e-date-wrapper {
    border-color: #ced4da !important;
}
.e-popup-wrapper {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 120px;
    max-width: 270px;
}
